---
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Patrick+Hand+SC');
@import 'variables';


/* Navigation (Fancy) */
header {
    text-align: center;
    height: 50vh;
    background: url(/img/header_bg.png) bottom center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
        color: white;
        font-family: "Patrick Hand SC", "Courier New";
        font-size: 3em;
        line-height: 2.1em;
        text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
    }
    .profile {
        border-radius: 50%;
    }
    

}


nav {
    background: $blue-dark;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
}

// Only occurs on scroll past header
body.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}
/*
@media only screen and (max-width: 768px) and (orientation: landscape) {
    body.fixed-nav nav {
        position: relative;
    }
}
*/
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


    &:nth-child(3) {
        background-color: $blue-main;

        a { color: $black }
    }

    &:nth-child(4) {
        background-color: $yellow-main;

        a { color: $black }
    }

    &:nth-child(5) {
        background-color: $red-main;
        
        a { color: $black }
    }

    &:nth-child(6) {
        background-color: $white;

        a { color: $black }
    }
}

li.logo {
    max-width: 0;
    overflow: hidden;
    transition: all 0.5s;
    background-color: $black;
}

li.logo a {
    color: $white;
    font-family: "Patrick Hand SC", "monospace";
    text-transform: lowercase;
    font-weight: 400;
    font-size: 25px;
    padding: 0px;
}


.fixed-nav li.logo {
    max-width: 500px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: $white;
    transition: all 0.2s;
    text-transform: uppercase;
}

/* Main Content */



.site-wrap {
    max-width: 1100px;
    margin: 70px auto;
    background: white;
    padding: 70px 200px;
    text-align: left;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
    transform: scale(0.99);
    transition: transform 0.5s;
}



// Activates on scroll past header
body.fixed-nav .site-wrap {
    transform: scale(1);
}

