---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:300');

/* Colors */

$red-0: #AA3939;  // Main Primary color */
$red-1: #FFEEEE;
$red-2: #F59B9B;
$red-3: #5F0303;
$red-4: #140000;

$yellow-0: #AAA639;  // Main Secondary color (1) */
$yellow-1: #FFFEEE;
$yellow-2: #F5F29B;
$yellow-3: #5F5B03;
$yellow-4: #141300;

$blue-0: #303D74;  // Main Secondary color (2) */
$blue-1: #DEE1EC;
$blue-2: #717BA7;
$blue-3: #0A1441;
$blue-4: #00030D;

/* Main */
html {
    box-sizing: border-box;
    background: $blue-1;
    font-family: "Source Sans Pro", "Verdana", "Arial", "sans-serif";
    font-size: 19px;
    letter-spacing: 1.5px;
    line-height: 26px;
    font-weight: lighter;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
}


*, *:before, *:after {
    box-sizing: inherit;
}

.site-wrap {
    max-width: 1100px;
    margin: 100px auto;
    background: white;
    padding: 70px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}

/* Navigation */
nav {
    background: $blue-0;
    top: 0;
    width: 100%;
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
    z-index: 1;
    letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
    nav {
        position: relative;
    }
    nav.fixed-nav {
        position: relative;
    }
    .site-wrap {
        margin-top: 0px;
    }
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.logo {
    max-width: 500px;
    overflow: hidden;
    transition: all 0.5s;
    background-color: $yellow-1;
}

li.logo a {
    color: $red-0;
    font-family: "Inconsolata", "monospace";
    text-transform: lowercase;
    font-weight: 600;
    font-size: 25px;
    padding: 0px;
}


nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: $blue-1;
    text-transform: uppercase;
}

/* Main Content */
.site-wrap {
    h1, h2, h3, h4, h5, small {
        font-family: Inconsolata, monospace;
    }
    h1 {
        border-bottom: 1px solid #CCC;
        padding-bottom: 5px;
    }
    
    small {
        font-size: 14px !important;
        color: #808080;
    }
    .post-list {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: $red-0;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    img {
        margin: auto;
        display: block;
        max-height: 500px;
        border: 1px solid black;
    }
}

// Inline code snippets should have a red box
code {
    font-size: 80%;
    background-color: #FFEEEE;
    padding: 5px;
}

// Big code blocks shouldn't highlight red or have extra padding
.highlight code {
    background-color: inherit;
    padding: inherit;
}

blockquote {
    font-size: 80%;
    color: #808080;
}

.highlight {
    //border: 1px solid #CCC;
    border-radius: 15px;
    padding: 5px 10px;
    line-height: 20px;
    overflow: scroll;
}

.contact-link {
    max-width: 50px;
}

/* Footer */
body {
    margin-bottom: 60px;
}

#main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: $red-4;
    font-size: 14px;
    letter-spacing: 1px;
}

.container .text-muted {
    margin-left: 20px;
    color: #CCC;
}

#home-footer {
    display: flex;
}

@media only screen and (max-width: 768px) {
    #home-footer {
        flex-direction: column;
    }
}

#left-home-footer {
    flex: 1;
}

#center-home-footer {
    flex: 1;
}

#right-home-footer {
    flex: 1;
}

// Mobile optimization
.mobile-home {
    display: none;
}

@media only screen and (max-width: 768px) {
    article.site-wrap {
        padding: 50px 30px 30px 30px;
    }
    pre {
        white-space: pre-wrap;
    }
    .highlight code {
        //font-size: 70% !important;
        line-height: 70%;
        text-align: left;
        letter-spacing: 0px;
    }
    .logo {
        display: none;
    }
    .mobile-home {
        display: block;
        background: $yellow-1;
        color: $red-0;
        text-align: center;
        font-family: "Inconsolata", "monospace";
        text-transform: lowercase;
        font-size: 150%;

    }
}



