---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Patrick+Hand+SC');
@import 'variables';
@import 'typography';
@import 'mobile';
@import 'media';
@import 'syntax';

/* Main */
html {
    box-sizing: border-box;
    background: $white;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
}


*, *:before, *:after {
    box-sizing: inherit;
}

/* Navigation */
nav {
    background: $blue-dark;
    top: 0;
    width: 100%;
    // position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(3) {
        background-color: $blue-main;

        a { color: $black }
    }

    &:nth-child(4) {
        background-color: $yellow-main;

        a { color: $black }
    }

    &:nth-child(5) {
        background-color: $red-main;
        
        a { color: $black }
    }

    &:nth-child(6) {
        background-color: $white;

        a { color: $black }
    }
}

li.logo {
    max-width: 500px;
    overflow: hidden;
    transition: all 0.5s;
    background-color: $black;
}

nav a {
    padding: 20px;
    display: inline-block;
}

/* Main Content */
.site-wrap {
    max-width: 1100px;
    margin: 100px auto;
    background: white;
    padding: 70px 150px;
    text-align: left;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);

    #cover {
        max-width: 100%;
    }

    .contact-link {
        display: inline;
        max-height: 25px;
    }

    .post-list {
        list-style: none;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }
    .dotted {
        list-style-type: disc;
        padding-left: 20px;

        li {
            padding-bottom: 10px;
        }
    }
}

.search {
    font-size: 1.5em;
    font-family: "Patrick Hand SC", Arial, Helvetica, sans-serif;
    color: $blue-dark;
    border: 3px solid $blue-main;
    width: 80%;
    display: block;
    margin: 15px auto;
}

/* Footer */
body {
    margin-bottom: 60px;
}

#main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: $black;
    font-size: 14px;
    letter-spacing: 1px;
}

.container .text-muted {
    margin-left: 20px;
    color: #CCC;
}


.post {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #AAA;
}
