---
---

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight span.c, .highlight .cd {
  color: #AAA;
}
.highlight .cm {
  color: #75715e;
  font-style: italic;
}
.highlight .c1 {
  color: #75715e;
  font-style: italic;
}
.highlight .cp {
  color: #75715e;
  font-weight: bold;
}
.highlight .cs {
  color: #75715e;
  font-weight: bold;
  font-style: italic;
}
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}
.highlight .gi {
  color: #ffffff;
  background-color: #324932;
}
.highlight .gd {
  color: #ffffff;
  background-color: #493131;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .k, .highlight .kv {
  color: #C792EA;
  font-weight: bold;
}
.highlight .kc {
  color: #C792EA;
  font-weight: bold;
}
.highlight .kd {
  color: #C792EA;
  font-weight: bold;
}
.highlight .kp {
  color: #C792EA;
  font-weight: bold;
}
.highlight .kr {
  color: #C792EA;
  font-weight: bold;
}
.highlight .kt {
  color: #C792EA;
  font-weight: bold;
}
.highlight .kn {
  color: #C792EA;
  font-weight: bold;
}
.highlight .ow {
  color: #89DDFF;
  font-weight: bold;
}
.highlight .o {
  color: #89DDFF;
  font-weight: bold;
}
.highlight .mf {
  color: #F78C6C;
}
.highlight .mh {
  color: #F78C6C;
}
.highlight .il {
  color: #F78C6C;
}
.highlight .mi {
  color: #F78C6C;
}
.highlight .mo {
  color: #F78C6C;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #F78C6C;
}
.highlight .se {
  color: #F78C6C;
}
.highlight .sb {
  color: #F78C6C;
}
.highlight .sc {
  color: #F78C6C;
}
.highlight .sd {
  color: #F78C6C;
}
.highlight .s2 {
  color: #F78C6C;
}
.highlight .sh {
  color: #F78C6C;
}
.highlight .si {
  color: #F78C6C;
}
.highlight .sx {
  color: #F78C6C;
}
.highlight .sr {
  color: #F78C6C;
}
.highlight .s1 {
  color: #F78C6C;
}
.highlight .ss {
  color: #F78C6C;
}
.highlight .s {
  color: #F78C6C;
}
.highlight .na {
  color: #C3E88D;
}
.highlight .nc {
  color: #C3E88D;
  font-weight: bold;
}
.highlight .nd {
  color: #C3E88D;
  font-weight: bold;
}
.highlight .ne {
  color: #C3E88D;
  font-weight: bold;
}
.highlight .nf {
  color: #6A83CD;
  font-weight: bold;
}
.highlight .no {
  color: #C792EA;
}
.highlight .bp {
  color: #EEFFFF;
}
.highlight .nb {
  color: #EEFFFF;
}
.highlight .ni {
  color: #EEFFFF;
}
.highlight .nn {
  color: #EEFFFF;
}
.highlight .vc {
  color: #EEFFFF;
}
.highlight .vg {
  color: #EEFFFF;
}
.highlight .vi {
  color: #EEFFFF;
}
.highlight .nv {
  color: #FFFFFF;
}
.highlight .w {
  color: #FFFFFF;
}
.highlight .nl {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .nt {
  color: #89DDFF;
}
.highlight {
  color: #FFFFFF;
  background-color: #212121;
}