<hr>

<!-- Footer for Homepage -->
  <div id="home-footer">
    <div id="left-home-footer">
      <!-- Featured Posts List -->
      <h2>Featured Posts</h2>
      <ul class="post-list">
        <li>
          <span class="post-meta">Jan 18, 2017</span><br />
          <a class="post-link" href="{% post_url 2017-01-18-assert-not-magic %}">Assert Not Magic</a>
        </li>
        {% for post in site.posts offset:1 limit:3 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><br/>
            <a class="post-link" href="{{ post.url }}">{{ post.title | escape }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="center-home-footer">
      <!-- Spacer -->
    </div>
    <div id="right-home-footer">
      <!-- Tags List -->
      <h2>Tags</h2>
      <p>
        {% for tag in site.tags %}
        <a href="/tags/{{tag | first}}/" style="font-size: {{ tag[1] | size | times: 2 | plus: 8 | at_most: 50 }}px">{{ tag[0] }} | </a>
        {% endfor %}
      </p>
    </div>
  </div>
  <hr>
  

  <p class="rss-subscribe contact">Like my stuff?  Have questions or feedback for me?  Want to mentor me or get my help with something?  <a href="/about/">Get in touch!</a>  To stay updated, subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>


