---
layout: page
title: All Posts
permalink: /posts/
description: A list of all of my blog posts
---
{% raw %}
<div id="app">
  <div class="search-wrapper">
    <input class="search" type="text" name="search" v-model="search" placeholder="Search posts...">
  </div>
  <div class="results-wrapper">
    <div class="post" v-for="post in filteredPosts">
      <a class="post-title" v-bind:href="post.url">{{ post.title }}</a><br>
      <small>{{ post.date }}</small>
      <img class="img-small" alt="Cover image" v-bind:src="post.cover" v-if="post.cover">
      <small>Tags: {{ post.tags }}</small>
    </div>
  </div>
</div>
{% endraw %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
<script src="/js/posts_data.js"></script>
<script src="/js/posts.js"></script>
