<div class="row" id="profile-pic">
    <img class="circle-pic" src="../img/me.jpg" />
</div>

<div class="row" id="author">
    <p>
        My name is Ryan Palo.  I'm a mechanical engineer, programming hobbyist, and -- eventually -- a teacher.  I especially love making programs that model real life, using lots of simple building blocks that interact in interesting ways.
    </p>
</div>

<div class="row links">
    <table align="center">
        <tr>
            <td><a href="https://github.com/rpalo"><img class="logo" src="../img/github_logo.png" /></a></td>
            <td><a href="https://twitter.com/paytastic"><img class="logo" src="../img/twitter_logo.png" /></a></td>
        </tr>
        <tr>
            <td><a href="https://www.linkedin.com/in/ryan-palo"><img class="logo" src="../img/linkedin_logo.png" /></a></td>
            <td><a href="http://www.thepalos.com"><img class="logo" src="../img/www_logo.png" /></a></td>
        </tr>
    </table>
</div>