<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="ROBOTS" content="INDEX,FOLLOW">
  <meta name="description" content="My job history, education, and skills">
  <meta name="keywords" content="resume,software,programmer,python,ruby">
  
  <title>Ryan Palo: Resume</title>
  <link rel="stylesheet" href="/css/resume.css">
</head>
<body>
  <div class="content">
    <nav>
      <ul>
        <li><a href="/resume/software/">Software Resume</a></li>
        <li><a href="/resume/mechanical/">Mechanical Resume</a></li>
        <li><a href="/">Back to assert_not magic</a></li>
      </ul>
    </nav>
    <main>
      <ul class="contact">
        <li>RYAN PALO</li>
        <li>ryan@thepalos.com</li>
        <li><a href="https://github.com/rpalo">github.com/rpalo</a></li>
        <li><a href="https://linkedin.com/in/ryan-palo">linkedin.com/in/ryan-palo</a></li>
        <li>Elk Grove, CA</li>
      </ul>
      {{ content }}
    </main>
  </div>
</body>
</html>