<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="ROBOTS" content="INDEX,FOLLOW">
  <meta name="description" content="My job history, education, and skills">
  <meta name="keywords" content="resume,software,programmer,python,ruby">
  
  <title>Ryan Palo: Resume</title>
  <link rel="stylesheet" href="/css/resume.css">
</head>
<body>
  <div class="content">
    <main>
      {{ content }}
    </main>
  </div>
</body>
</html>