.site-wrap {
  img {
    margin: auto;
    display: block;
    max-height: 500px;
    max-width: 40vw;
  }

  iframe {
    margin: auto;
    display: block;
    max-width: 40vw;
  }
}

.profile {
  border-radius: 50%;
  width: 20vh;
}

.post .img-small {
  max-height: 150px;
  margin: 5px;
}