.category-label {
    display: inline-block;
    width: 20%;
    padding: 0 5px;
    text-align: center;
    font-size: .8em;
}

.cat-tech {
    background-color: color.adjust($color: $blue-dark, $alpha: -0.4);
    color: $white;
}

.cat-watercooler {
    background-color: color.adjust($color: $blue-main, $alpha: -0.4);
}

.cat-devjournal {
    background-color: color.adjust($color: $red-main, $alpha: -0.4);
}

.cat-personal {
    background-color: color.adjust($color: $green-main, $alpha: -0.4);
}

.cat-review {
    background-color: color.adjust($color: $yellow-main, $alpha: -0.4);
}