---
---
@use 'sass:color';
@use 'variables';
@use 'typography';
@use 'mobile';
@use 'media';
@use 'syntax';
@use 'tinyletter';
@use 'post';

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Patrick+Hand+SC');


/* Main */
html {
  box-sizing: border-box;
  background: variables.$white;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Navigation */
nav {
  background: variables.$blue-dark;
  top: 0;
  width: 100%;
  // position: fixed;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(3) {
    background-color: variables.$blue-main;

    a {
      color: variables.$black
    }
  }

  &:nth-child(4) {
    background-color: variables.$yellow-main;

    a {
      color: variables.$black
    }
  }

  &:nth-child(5) {
    background-color: variables.$red-main;

    a {
      color: variables.$black;
    }
  }

  &:nth-child(6) {
    background-color: variables.$green-main;

    a {
      color: variables.$white;
    }
  }
}

li.logo {
  max-width: 500px;
  overflow: hidden;
  transition: all 0.5s;
  background-color: variables.$black;
}

nav a {
  padding: 20px;
  display: inline-block;
}

/* Main Content */
.site-wrap {
  max-width: 1100px;
  margin: 100px auto;
  background: white;
  padding: 70px 150px;
  text-align: left;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

  #cover {
    max-width: 100%;
  }

  .contact-link {
    display: inline;
    max-height: 50px;
    max-width: 50px;
  }

  .post-list {
    list-style: none;
  }

  ul {
    list-style-position: outside;
  }

  .dotted {
    list-style-type: disc;
    padding-left: 20px;

    li {
      padding-bottom: 10px;
    }
  }
}

.search {
  font-size: 1.5em;
  font-family: "Patrick Hand SC", Arial, Helvetica, sans-serif;
  color: variables.$blue-dark;
  border: 3px solid variables.$blue-main;
  width: 80%;
  display: block;
  margin: 15px auto;
}

table {
  margin: auto;
  font-size: .8em;
  background-color: variables.$black;
}

thead {
  background-color: color.adjust(variables.$grey, $lightness: 10%);
}

th {
  padding: 5px 10px;
}

td {
  text-align: right;
  background-color: variables.$white;
}

/* Footer */
body {
  margin-bottom: 60px;
}

#main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: variables.$black;
  font-size: 14px;
  letter-spacing: 1px;
}

.container .text-muted {
  margin-left: 20px;
  color: #CCC;
}


.post {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #AAA;
}
