<!DOCTYPE html>
<html lang="en">
    <head>
        
        <!-- Bootstrap Setup -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Custom meta -->
        <meta name="ROBOTS" content="INDEX,FOLLOW">
        <meta name="description" content="Personal blog, documenting my progress while learning to program.  Hopefully it is a useful resource to help other developers learn, too!">
        <meta name="keywords" content="blog, code, developer, programming, learning, teaching, python, django, dev, Ryan, Ryan Palo">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="assert_not magic?">
        <meta name="twitter:site" content="@paytastic">
        <meta name="twitter:description" content="Ryan Palo's programming blog">
        <meta name="twitter:image" content="http://assertnotmagic.com{/img/me.jpg}">
        <meta name="twitter:creator" content="@paytastic">
        <meta name="og:url" content="http://assertnotmagic.com">
        <meta name="og:title" content="assert_not magic?">
        <meta name="og:description" content="Ryan Palo's programming blog">
        <meta name="og:image" content="http://assertnotmagic.com/img/me.jpg">

        <!-- Favicon settings -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#222222">
        <meta name="theme-color" content="#ffffff">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/home.css">
        
        <title>assert_not magic?</title>
    </head>
    <body>
        {% include title-block.html %}
        {% include nav.html %}
        <div class="container main">
          <article class="site-wrap">
            {{content}}
          </article>
        </div>

        {% include footer.html %}
        
        <!-- Custom Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
        <script src="/js/home.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          
            ga('create', 'UA-91889165-1', 'auto');
            ga('send', 'pageview');
          
          </script>
    </body>
</html>

