<!DOCTYPE html>
<html lang="en">
    <head>
        
        <!-- Bootstrap Setup -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

        <!-- Custom meta -->
        <meta name="ROBOTS" content="INDEX,FOLLOW">
        <meta name="description" content="Personal blog, documenting my progress while learning to program.  Hopefully it is a useful resource to help other developers learn, too!">
        <meta name="keywords" content="blog, code, developer, programming, learning, teaching, python, django, dev, Ryan, Ryan Palo">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="assert_not magic?">
        <meta name="twitter:site" content="@paytastic">
        <meta name="twitter:description" content="Ryan Palo's programming blog">
        <meta name="twitter:image" content="http://assertnotmagic.com/img/me.jpg">
        <meta name="twitter:creator" content="@paytastic">
        <meta name="og:url" content="http://assertnotmagic.com">
        <meta name="og:title" content="assert_not magic?">
        <meta name="og:description" content="Ryan Palo's programming blog">
        <meta name="og:image" content="http://assertnotmagic.com/img/me.jpg">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/syntax.css">
        
        <title>assert_not magic?</title>
    </head>
    <body>
        {% include title-block.html %}
        {% include nav.html %}
        <div class="container main">
          <article class="site-wrap">
            {{content}}
          </article>
        </div>

        {% include footer.html %}
        
        <!-- Custom Javascript -->
        <script src="/js/home.js"></script>
        
    </body>
</html>

