---
layout: page
title: All Posts
permalink: /posts/
description: A list of all of my blog posts
---

<div id="app">
  <div class="search-wrapper">
    <input class="search" type="text" name="search" v-model="search" placeholder="Search posts...">
  </div>
  <div class="results-wrapper">
    {% for post in site.posts %}
    <div class="post">
      <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
      <br>
      <small>{{ post.date | date: "%B %d, %Y"}}</small>
      {% if post.cover_image %}
      <img class="img-small" alt="Cover image" src="{{ 'https://res.cloudinary.com/duninnjce/image/upload/w_,q_auto,f_auto/' | append: post.cover_image }}">
      {% endif %}
      <p>{{ post.description }}</p>
      <small>Tags: {{ post.tags | join: " " }}</small>
    </div>
    {% endfor %}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
<script src="/js/posts_data.js"></script>
<script src="/js/posts.js"></script>
